<template>
    <div class="container">

      <div class="row">
      	 <div class="col-md-4">
                        <div class="card">
                            
                            <form  @submit.prevent="editar(especiality)" v-if="editarActivo">
                                <div class="card-header">
                                <strong class="card-title">Editar Especialidades</strong>
                            </div>
                            <div class="card-body">
                             <div class="table-responsive">
                            	<div class="form-group">
                            	<label>Nombre Especialidad:</label>
                                  <input type="text" name="nombre" class="form-control" placeholder="ingresa Nombre Especialidad" v-model="especiality.nombre">
                              </div>
                             <button type="submit" class="btn btn-success btn-block"><i class="fa fa-save"></i>Guardar</button>
                             <button type="submit" class="btn btn-danger btn-block" @click="cancelar()"><i class="fa fa-window-close"></i>Cancelar</button>
                             </div>
                            </div>
                             </form>
                             <form @submit.prevent="agregar" v-else>
                                  <div class="card-header">
                                <strong class="card-title">Agregar Especialidades</strong>
                            </div>
                            <div class="card-body">
                             <div class="table-responsive">
                            	<div class="form-group">
                            	<label>Nombre Especialidad:</label>
                                  <input type="text" name="nombre" class="form-control" placeholder="ingresa Nombre Especialidad" v-model="especiality.nombre">
                              </div>
                             <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i>Guardar</button>
                             </div>
                            </div>
                             </form>
                        </div>
                    </div>
          <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Especialidades</strong>
                            </div>
                            <div class="card-body">
                             <div class="col-md-12">
                              <div class="input-group">
                               <select class="form-control col-md-3" v-model="criterio">
                                <option value="nombre">Nombre</option>
                               </select>
                               <input type="text" v-model="buscar" @keyup.enter="listarEspecialidades(1,buscar,criterio)" class="form-control" placeholder="Especialidad  a Buscar">
                               <button type="submit" @click="listarEspecialidades(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i>Buscar</button>
                              </div>
                             </div>
                             <br><br>
                            <div class="table-responsive">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                      
                                            <th>id</th>
                                            <th>Nombre</th>
                                           
                                            <th colspan="2">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	
                                         <tr v-for="(item, index) in especialties" :key="index">
                                             <td>{{item.id_especialidad}}</td>
                                             <td>{{item.nombre}}</td> 
                                             <td>
                                            <button type="button" class="btn btn-success" @click="editarFormulario(item)"><i class="fa fa-edit"></i>&nbsp; Editar</button>
                                            </td>
                                            <td> 
                                            <template v-if="item.condicion">
                                            <button type="submit" class="btn btn-warning btn-icon-split" @click=" activeEspeciality(item)">
                                            <span class="icon text-white-50">
                                            <i class="fa fa-trash"></i>
                                            </span>
                                            <span class="text">Restaurar</span>
                                            </button>
                                            </template>
                                            <template v-else>
                                            <button type="submit" class="btn btn-danger btn-icon-split" @click=" disableEspeciality(item)">
                                            <span class="icon text-white-50">
                                            <i class="fa fa-trash"></i>
                                            </span>
                                            <span class="text">Eliminar</span>
                                            </button>
                                            </template>
                                            </td>
                                       </tr>
                                    </tbody>
                                </table>
                                
                                <nav>
                                <ul class="pagination">
                                 <li class="page-item" v-if="pagination.current_page > 1">
                                  <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                                 </li>
                                 <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                  <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                 </li>
                                 <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                  <a class="page-link" href="#" @click="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                 </li>
                                </ul>
                                </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    
        </div>
    </div>


</template>

<script>
    export default {
        data(){

            return{
            especialties:[],
            especiality: {nombre: ''},
            pagination :{
             'total' : 0,
             'current_page' : 0,
             'per_page' : 0,
             'last_page': 0,
             'from' : 0,
              'to' : 0,
            },
            offset :3 ,
            criterio : 'nombre',
            buscar : '',
            editarActivo: false


        }
    },
    computed:{
    isActived: function(){
        return this.pagination.current_page;
    },
    pagesNumber: function(){
        if(!this.pagination.to){
            return [];

        }
         
         var from = this.pagination.current_page - this.offset;
         if(from < 1){
             from = 1;
         }

         var to = from +(this.offset * 2);
         if(to >=this.pagination.last_page){
             to = this.pagination.last_page;
         }

         var pagesArray = [];
         while(from <= to){
             pagesArray.push(from);
             from++;
         }

         return pagesArray;
    }
    },
  methods:{
      cambiarPagina(page,buscar,criterio){
      let me = this;
      //actualiza la pagina actual
      me.pagination.current_page = page;
      
      //envia la petición para visualizar  la data de esa página
      me.listarEspecialidades(page,buscar,criterio);
      },
      listarEspecialidades(page,buscar,criterio){
      let me = this;
      var url= 'especialties?page=' + page + '&buscar=' + buscar + '&criterio=' + criterio;
      axios.get(url).then(function (response){
          var respuesta= response.data;
          me.especialties = respuesta.especialidades.data;
          me.pagination= respuesta.pagination;
      })
      },
    
        agregar(){
            let me = this;

            if(this.especiality.nombre.trim() == ''){
                alert('Debes completar todos los campos antes de guardar');
                return;
}
            const params = {nombre:this.especiality.nombre};
            const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000
})
            this.especiality.nombre = '';
            axios.post('especialties', params)
            .then(res=>{
                this.especialties.push(res.data)
                me.listarEspecialidades(1,'','nombre');
          

Toast.fire({
  type: 'success',
  title: 'Especialidad Registrada Correctamente'
})
            })
        },

        cancelar(){
         this.editarActivo = false;
          this.especiality.nombre = '';
          

        },
        disableEspeciality(item){
        const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                    title: 'Estas seguro de desactivar esta especialidad?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar !',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                    }).then((result) => {
                    if (result.value) {
                        
                     let me = this;

                     axios.put(`/especiality/disable/${item.id_especialidad}`)
                            .then(res=>{
                            me.listarEspecialidades(1,'','nombre');
                            swalWithBootstrapButtons.fire(
                        'Especialidad desactivada !',
                        'Correctamente'
                        )

                        })
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                        'Proceso Cancelado ',
                        'exitosamente'
                        )
                    }
                    })
        },
        activeEspeciality(item){
        const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                    title: 'Activar esta Especialidad Nuevamente?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                    }).then((result) => {
                    if (result.value) {
                         let me = this;

                     axios.put(`/especiality/active/${item.id_especialidad}`)
                            .then(res=>{
                            me.listarEspecialidades(1,'','nombre');
                            swalWithBootstrapButtons.fire(
                        'Especialidad Activa !',
                        'Correctamente'
                        )

                        })

                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                        'Proceso Cancelado',
                        'Todo sigue igual :)',
                        'error'
                        )
                    }
                    })
        },
     editarFormulario(item){
      this.editarActivo = true;
      this.especiality.nombre = item.nombre;
      this.especiality.id_especialidad = item.id_especialidad;
        },

      editar(item){
   let me = this;
      
      const params = {nombre: item.nombre};
       const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
        })
      axios.put(`especialties/${item.id_especialidad}`,params)
      .then(res=>{
          this.editarActivo = false;
          this.especiality.nombre = '';
          me.listarEspecialidades(1,'','nombre');
          Toast.fire({
        type: 'success',
        title: 'Especialidad Editada Correctamente'
        })
      }).catch(function(error){
           Toast.fire({
        type: 'error',
        title: 'Ups hubo un problema, intentalo de nuevo '
        })
      });


        },


    },
    mounted(){
        this.listarEspecialidades(1,this.buscar,this.criterio);
    }
}
</script>
