<template>
    <div class="container">

      <div class="row">
      	 <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Agregar Especialidades</strong>
                            </div>
                            <div class="card-body">
                        
                            <div class="table-responsive">
                            	<div class="form-group">
                            	<label>Nombre Especialidad:</label>
                                  <input type="text" name="nombre" class="form-control" placeholder="ingresa Nombre Especialidad">
                              </div>
                        
                  <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i>Guardar</button>
                             </div>
                            </div>
                        </div>
                    </div>
          <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Especialidades</strong>
                            </div>
                            <div class="card-body">
                             <br><br>
                            <div class="table-responsive">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                      
                                            <th>id</th>
                                            <th>Nombre</th>
                                           
                                            <th colspan="2">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	
                                         <tr>
                                             <td></td>
                                             <td></td>
                                
                                          
                                            <td>
                                            <button type="button" class="btn btn-success" data-toggle="modal"><i class="fa fa-edit"></i>&nbsp; Editar</button></td>
  <td>
                                            
            

                               <a href="" class="btn btn-danger btn-icon-split">
                              <span class="icon text-white-50">
                                <i class="fa fa-trash"></i>
                              </span>
                              <span class="text">Eliminar</span>
                            </a>
                        
                                       </td>
                                       </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
        </div>
    </div>


</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
