<template>
   <div class="d-flex justify-content-center">
        <div class="container">
              <br><br>
             <div class="row">

            <div class="col-md-7" v-if="editarActivo">
            <form  @submit.prevent="agregar" >
                
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title" style="color:#005d9a">Agregar Nuevo Paciente</strong>
                        </div>
                            <div class="card-body">
                            <font face="Comic Sans MS,Arial,Verdana">
                            <div class="form-group">
                                <div class="col-md-6">
                            	<label>Nombre:</label>
                                  <input type="text"  class="form-control" placeholder="ingresa su Nombre..." v-model="patient.nombre">
                              </div>
                               </div>
                              <div class="form-group">
                                  <div class="col-md-6">
                                <label>Apellido Paterno:</label>
                                <input type="text" class="form-control" placeholder="ingresa Apellido Paterno..." v-model="patient.app">
                              </div>
                              </div>
                              <br><br><br>
                              <div class="form-group">
                                  <div class="col-md-6">
                                <label>Apellido Materno:</label>
                                <input type="text" class="form-control" placeholder="ingresa Apellido Materno..." v-model="patient.apm">
                              </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-6">
                                <label>Fecha de nacimiento:</label>
                                <input type="date"  class="form-control" v-model="patient.fn">
                              </div>
                              </div>
                              <br><br><br>
                              <div class="form-group">
                                <div class="col-md-6">
                                <label>No. de Seguro Social:</label>
                                <input type="text"  class="form-control" placeholder="ingresa el numero de seguro social..." v-model="patient.nss">
                              </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-6">
                                <label>Calle:</label>
                                <input type="text" name="calle" class="form-control" placeholder="ingresa calle..." v-model="patient.calle">
                              </div>
                              </div>
                              <br><br><br>
                              <div class="form-group">
                                  <div class="col-md-4">
                                <label>No.Interior:</label>
                                <input type="text" name="no_int" class="form-control" placeholder="ingresa número interior..." v-model="patient.no_int">
                              </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-4">
                                <label>No.Exterior:</label>
                                <input type="text" class="form-control" placeholder="ingresa número exterior..." v-model="patient.no_ext">
                              </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-4">
                                <label>Código Postal:</label>
                                <input type="text" name="cp" class="form-control" placeholder="ingresa codigo postal..." v-model="patient.cp">
                              </div>
                              </div>
                              <br><br><br>
                              <div class="form-group">
                                  <div class="col-md-6">
                                <label>Colonia</label>
                                <input type="text" name="colonia" class="form-control" placeholder="ingresa la colonia..." v-model="patient.colonia">
                              </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-6">
                                <label>Municipio</label>
                                <select class="form-control" v-model="patient.municipio">
                                    <option >Lerma de Villada</option>
                                    <option >Metepec</option>
                                    <option >Toluca de Lerdo</option>
                                </select>
                              </div>
                              </div>
                              <br><br><br>
                              <div class="form-group">
                                  <div class="col-md-6">
                                <label>Estado</label>
                                <select class="form-control" v-model="patient.estado">
                                    <option value="EdoMex">EdoMex</option>
                                </select>
                              </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-6">
                                <label>Telefono:</label>
                                <input type="text" class="form-control" placeholder="ingresa Telefono..." v-model="patient.telefono">
                              </div>
                              </div>
                              <br><br><br>
                              <div class="form-group">
                                <div class="col-md-6">
                                <label>Sexo:</label>
                                <select  name="sexo" class="form-control" v-model="patient.sexo">
                                	<option>Masculino</option>
                                	<option>Femenino</option>
                                </select>
                              </div>
                              </div>
                              <br><br><br>
                              <div class="form-group">
                                  <div class="col-md-6">
                               <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i>Guardar</button>
                                  </div>
                              </div>
                               <div class="form-group">
                                  <div class="col-md-6">
                               <button type="submit" class="btn btn-danger btn-block"><i class="fa fa-window-close" @click="cancelar()"></i>Cancelar</button>
                                  </div>
                              </div>
                            </font>           
                </div>
            </div>
        </form>
        </div>
        <div v-else>
            <div class="col-md-12">
                  <div class="card">
                        <div class="card-header">
                            <strong class="card-title" style="color:#005d9a">Agregar Nuevo Paciente</strong>
                        </div>
                    <div class="card-body">
                     <div class="table-responsive">
                        <font face="Comic Sans MS,Arial,Verdana">
                            <div class="col-md-12">
                            <span>Nota:</span>
                            <p>Puedes Agregar varios pacientes a tu cuenta de usuario, solo tienes que dar click a el boton que se encuentra de lado izquierdo. </p>
                            </div>
                            <div class="col-md-6">
                    
                        <button type="button" class="btn btn-info btn-rounded"  @click="activeRegisterPatient">Dar de alta un paciente a mi cuenta</button>
                            </div>
                        </font>
                     </div>
                  </div>
             </div>
            </div>

           <div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <strong>Agendar Cita</strong>
    </div>
        <div class="card-body">
     <form-wizard @on-complete="registrarCitas" @on-loading="setLoading" @on-error="handleErrorMessage" shape="circle" color="#3498db">
        <div class="loader"></div>
        <div class="text-center" v-if="errorMsg">
        <span style="color:red;" class="error"><font face="Comic Sans MS,Arial,Verdana">{{errorMsg}}</font></span>
        </div>

      <tab-content title="Fecha Cita" icon="ti-clipboard" :before-change="validateForm1">
        <font face="Comic Sans MS,Arial,Verdana"> 
                        <div class="col-md-4">
                            Indica el paciente
                            <select  class="form-control" v-model="date.id_paciente" >
                            <option value="0" disabled>--Seleccione paciente--</option>
                            <option v-for="(item, index) in pacientes" :key="`item-${index}`" :value="item.id_paciente" >{{item.nombre}} {{item.app}} {{item.apm}}</option>
                            </select>
                            </div>                   
                        <div class="col-md-4">
                        Indique el día de la cita:
                        <input type="date" name="fecha" required class="form-control"  placeholder="Fecha"  v-model="date.fecha">
                            </div>
                            <div class="col-md-4">
                            Indique la hora  del servicio
                            <select  class="form-control"  v-model="date.id_horario">
                            <option value="0">--Seleccione la hora del día--</option>
                            <option  v-for="horario in horarios" :key="horario.id_horario" :value="horario.id_horario" v-text="horario.hora"></option>
                            </select>
                            </div>
                            <br><br><br><br>
                            <div class="col-md-6">
                        Municipio donde sera la visita:<br>
                        <input type="text" required class="form-control"  placeholder="Municipio" v-on:keyup="validaMunicipio" v-model="date.municipio">
                            <div class="loader"></div>
                            <div class="text-center" v-if="errorMunicipio">
                            <span style="color:red;" class="error"><font face="Comic Sans MS,Arial,Verdana">{{errorMunicipio}}</font></span>
                            </div>
                        </div>
                            <div class="col-md-6">
                        Colonia donde sera la visita:<br>
                        <input type="text"  class="form-control"  placeholder="Colonia" v-on:keyup="validaColonia"  v-model="date.colonia">
                            <div class="loader"></div>
                            <div class="text-center" v-if="errorColonia">
                            <span style="color:red;" class="error"><font face="Comic Sans MS,Arial,Verdana">{{errorColonia}}</font></span>
                            </div>
                        </div>
                        <br><br><br>
                            <div class="col-md-4">
                        Calle:<br>
                        <input type="text"  required class="form-control"  placeholder="Calle"  v-model="date.calle">
                        </div>
                            <div class="col-md-4">
                        Numero interior:<br>
                        <input type="text" required class="form-control"  placeholder="Numero interior"  v-model="date.no_int">
                        </div>
                            <div class="col-md-4">
                        Numero exterior:<br>
                        <input type="text"  required class="form-control"  placeholder="Numero exterior"  v-model="date.no_ext">
                        </div><br><br><br>
                            <div class="col-md-6">
                        Ingrese un numero de celular al que se le confirmara la cita:<br>
                        <input type="text"  required class="form-control"  placeholder="Numero de celular"  v-model="date.cell_seg">
                        </div>
                            <div class="col-md-6">
                        Ingrese un numero de telefono al que se le confirmara la cita:<br>
                        <input type="text"  class="form-control"  placeholder="Numero de telefono"  v-model="date.telefono_seg">
                        </div>
                        <br><br><br>
                        </font>
      </tab-content>

      <tab-content title="Información del Usuario" icon="ti-user" :before-change="validateForm2" >
        <font face="Comic Sans MS,Arial,Verdana">
                           
                           
                            <div class="col-md"> 
                        ¿El paciente cuenta actualmente con algún tipo de tratamiento previo?<br>
                            <input type="radio"  class="btn btn-success" v-model="date.t_previo" :value="true">&nbsp;Si&nbsp;&nbsp;
                            <input type="radio"  class="btn btn-danger" v-model="date.t_previo" :value="false" > &nbsp;No
                            </div>
                          
                        <div class="col-md" v-if="date.t_previo == true">   
                        <label>¿Que Tratamiento lleva?</label>
                        <input type="text" class="form-control" v-model="date.trat_previo">
                        </div>
                           
                       <br><br>
                        <div class="col-md">
                        ¿El paciente sufre algún tipo de enfermedad cronico-degenerativas(Diabetes,Hipertencion,Daño renal,etc.)?<br>
                            <input type="radio"  class="btn btn-success" v-model="date.e_cd"  :value="true">&nbsp;Si&nbsp;&nbsp; 
                            <input type="radio"  class="btn btn-danger" v-model="date.e_cd" :value="false">&nbsp;No
                        </div>
                        <div v-if="date.e_cd == true" class="col-md">
                        <label>¿Que enfermedad padece?</label>
                        <input type="text" class="form-control" v-model="date.enf_cd">

                        </div>
                        <div class="col-md">
                        ¿El paciente tiene alguna alergia?<br>
                            <input type="radio"  class="btn btn-success" v-model="date.aler"  :value="true">&nbsp;Si&nbsp;&nbsp; 
                            <input type="radio"  class="btn btn-danger" v-model="date.aler" :value="false">&nbsp;No
                        </div>
                        <div v-if="date.aler == true" class="col-md">
                        <label>¿Que alergia tiene?</label>
                        <input type="text" class="form-control" v-model="date.alergias">

                        </div>
                        <br><br>
                        <div class="col-md">
                        En base a su experiencia que puede observar acerca de el paciente que sea relativo para la consulta:<br>
                        <textarea class="form-control"  placeholder="Observaciones del paciente" v-model="date.acerca_pac"></textarea>
                        </div>
                        <br><br>
                        <div class="col-md">
                        Existe algún tipo de trato especial que deba mencionar acerca de el paciente:<br>
                        <textarea required class="form-control" placeholder="Tratos especiales" v-model="date.trato_esp"></textarea>
                        </div>
                        <br><br><br>
                        
                        </font>
      </tab-content>
      <tab-content title="Elegir Servicio" icon="ti-timer">
        

      <font face="Comic Sans MS,Arial,Verdana">
                            
                    
                            <br><br><br>
                                  <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        	<th>Guardias</th>
                                            <th>Costo</th>
                                            <th>Restricciones</th>
                                            <th>Seleccionar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="guardia in guardias" :key="guardia.id_guardia">
                                    <td>
                                    {{guardia.nombre}}
                                    </td>
                                    <td>
                                    {{guardia.costo}}
                                    </td>
                                    <td v-if="guardia.restricciones == null">
                                    <p>No hay restricciones en esta guardia</p>
                                    </td>
                                    <th v-else>
                                        {{guardia.restricciones}}
                                    </th>
                                    <td align="center">
                                    <input class="form-check-input" type="radio" v-model="date.id_guardia" :value="guardia.id_guardia" >
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br>
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        	<th>Servicio</th>
                                            <th>Costo</th>
                                            <th>Incluido en guardias</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     <tr v-for="servicio in servicios" :key="servicio.id_servicio">
                                    <td>
                                    {{servicio.nombre}}
                                    </td>
                                    <td>
                                    {{servicio.costo}}
                                    </td>
                                    <td align="center" v-if="servicio.incluido == 1">
                                   
                                    ✔
                                
                                    </td>
                                     <td aling="center" v-else></td>
                                    <td align="center">
                                     <input type="checkbox" :value="servicio.id_servicio" v-model="arrayCitasServicios">
                                    </td>
                                    </tr>
                                    
                                    </tbody>
                                </table><br><br>
                            </font>



      </tab-content>
  </form-wizard>
           </div>
                

     </div>
             </div>
        </div>


         
            </div>
        </div>
</div>


</template>

<script>
    export default {
        data(){
            return{
                //errors: [],
            //MESSAGE ERROR
            errorMunicipio: null,
            errorColonia: null,
            errorMsg: null,

            //LOAD WIZARD STATUS
            loadingWizard: false,
            
             pacientes:[],
             horarios:[],
             guardias: [],
             servicios:[],
             arrayCitasServicios:[],
              date:{
                t_previo: null,
                trat_previo:'',
                e_cd: null,
                enf_cd:'',
                id_paciente: 0,
                id_horario:0,
                id_guardia:0,
                fecha:'',
                municipio:'',
                colonia:'',
                calle:'',
                cell_seg:'',
                telefono_seg:'',
                aler: null,
                acerca_pac:'',
                trato_esp:'',
                alergias:'',
                no_int:'',
                no_ext:'',

            },     
            patient: {
                      nombre: '',
                      app:'' , 
                      apm: '' ,
                      nss:'',
                      fn:'',
                      calle: '',
                      no_int:'',
                      no_ext:'',
                      cp: '', 
                      colonia: '' ,
                      municipio: '',
                      estado: '',
                      telefono: '',
                      }, 
                      editarActivo: false,
            showInput: false, 
            }
         
        },
     methods:{
         validaMunicipio: function (e) {
            //this.errors = [];

            if (!this.date.municipio) {
                this.errorMunicipio = "El municipio es obligatorio";
                //this.errors.push('El correo electrónico es obligatorio.');
            } else if (!this.validPatternMunicipio(this.date.municipio)) {
                //this.errors.push('El correo electrónico debe ser válido.');
                this.errorMunicipio = "El municipio debe ser valido";
            }else{
                this.errorMunicipio = "";
            }

            /*if (!this.errors.length) {
                return true;
                }
            */
        e.preventDefault();
        },

        validPatternMunicipio: function (municipio) {
        //var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var re = /[a-z]{3,15}/;
        return re.test(municipio);
        },

        validaColonia: function (e) {
            if (!this.date.colonia) {
                this.errorColonia = "La colonia es obligatoria";
                //this.errors.push('El correo electrónico es obligatorio.');
            } else if (!this.validPatternColonia(this.date.colonia)) {
                //this.errors.push('El correo electrónico debe ser válido.');
                this.errorColonia = "La colonia debe ser valida";
            }else{
                this.errorColonia = "";
            }

            /*if (!this.errors.length) {
                return true;
                }
            */
            e.preventDefault();
        },

        validPatternColonia: function (colonia) {
        var re = /[a-z]{3,15}/;
        return re.test(colonia);
        },

         //load the wizard
         setLoading: function(value) {
            this.loadingWizard = value
        },

        //reject error message
         handleErrorMessage: function(errorMsg){
          this.errorMsg = errorMsg
        },

        //validation form wizard
         validateForm1:function(){
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                if( this.date.fecha.trim() == '' || this.date.municipio.trim() == '' || this.date.colonia.trim() == '' || this.date.calle.trim() == '' || this.date.no_int.trim() == '' || this.date.no_ext.trim() == '' || this.date.cell_seg.trim() == '' || this.date.telefono_seg.trim() == ''){
    
                    reject('Debe llenar todos los campos')
                }else{
                resolve(true)
                }   
                }, 1000)
            })
         },

         validateForm2:function(){
              return new Promise((resolve, reject) => {
                setTimeout(() => {
                if(this.date.t_previo == null||  this.date.e_cd == null|| this.date.aler == null){
                    reject('Debe llenar todos los campos')
                }
                else{
                  if( this.date.t_previo == false && this.date.e_cd == false && this.date.aler == false){
                      if( this.date.acerca_pac.trim() == '' || this.date.trato_esp.trim() == ''){
                          reject('Debe llenar todos los campos')
                      }else{
                          resolve(true)
                      }
                }else{
                 
                switch(this.date.t_previo) {
                    case true:
                        if( this.date.trat_previo.trim() == '' || this.date.acerca_pac.trim() == '' || this.date.trato_esp.trim() == ''){
                            reject("Debe llenar todos los campos")
                        }else{
                            resolve(true)
                        }
                            break; 
                default:
                   
                }

                switch(this.date.e_cd) {
                    case true:
                        if(  this.date.enf_cd.trim() == '' || this.date.acerca_pac.trim() == '' || this.date.trato_esp.trim() == ''){
                            reject("Debe llenar todos los campos")
                        }else{
                            resolve(true)
                        }
                            break; 
                default:
                  
                }

                switch(this.date.aler) {
                    case true:
                        if( this.date.alergias.trim() == '' || this.date.acerca_pac.trim() == '' || this.date.trato_esp.trim() == ''){
                        reject("Debe llenar todos los campos")
                        }else{
                            resolve(true)
                        }
                        break; 
                
                default:

                }
                    /*if( this.date.trat_previo.trim() == '' || this.date.enf_cd.trim() == '' || this.date.alergias.trim() == '' || this.date.acerca_pac.trim() == '' || this.date.trato_esp.trim() == ''){
                        reject('Debe llenar todos los campos')
                    }else{
                        resolve(true)
                    }*/
              }
              }   
            }, 1000)
          })
         },

         registrarCitas(){
            let me = this;
             const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
                })
            axios.post('/agendar/cita',{
             'id_paciente': this.date.id_paciente,
             'id_horario': this.date.id_horario,
             'id_guardia': this.date.id_guardia,
             'trat_previo':this.date.trat_previo,
             'enf_cd': this.date.enf_cd,
             'fecha': this.date.fecha,
             'municipio':this.date.municipio,
             'colonia': this.date.colonia,
             'calle': this.date.calle,
             'cell_seg':this.date.cell_seg,
             'telefono_seg':this.date.telefono_seg,
             'no_int': this.date.no_int,
             'no_ext': this.date.no_ext,
             'alergias': this.date.alergias,
             'acerca_pac': this.date.acerca_pac,
             'trato_esp':this.date.trato_esp,
             'data': this.arrayCitasServicios


            }).then(res=>{
                    this.editarActivo = false;
                    Toast.fire({
                    type: 'success',
                    title: 'Cita Agendada Correctamente'
                    })
            })
         },
      selectPaciente(){
      let me = this;
      var url= '/paciente/selectPaciente';
      axios.get(url).then(function (response){
          console.log("respues de usuarios",response);
          var respuesta= response.data;
          me.pacientes = respuesta.pacientes;
         
      })
      },
         selectHorario(){
      let me = this;
      var url= '/horarios/selectHorarios';
      axios.get(url).then(function (response){
        //   console.log(response);
          var respuesta= response.data;
          me.horarios = respuesta.horarios;
      })
      },
       listadoGuardias(){
      let me = this;
      var url= '/guardias/listadoGuardias';
      axios.get(url).then(function (response){
        //   console.log(response);
          var respuesta= response.data;
          me.guardias = respuesta.guardias;
      })
      },
      listadoServicios(){
      let me = this;
      var url= '/servicios/listadoServicios';
      axios.get(url).then(function (response){
        //   console.log(response);
          var respuesta= response.data;
          me.servicios = respuesta.servicios;
      })
      },
          onComplete: function(){
          alert('Yay. Done!');
       },
      agregar(){
            this.editarActivo = false;
            let me = this;
            if(this.patient.nombre.trim() == '',
               this.patient.app.trim() == '' , 
               this.patient.apm.trim() == '' ,
               this.patient.nss.trim() == '',
               this.patient.fn.trim() == '',
               this.patient.calle.trim() == '',
               this.patient.no_int.trim() == '',
               this.patient.no_ext.trim() == '',
               this.patient.cp.trim() == '', 
               this.patient.colonia.trim() == '' ,
               this.patient.municipio.trim() == '',
               this.patient.estado.trim() == '',
               this.patient.telefono.trim() == '',
               this.patient.sexo.trim() == ''
            
            ){
                alert('Debes completar todos los campos antes de guardar');
                return;
            }
            const params = {nombre:this.patient.nombre,
                            app:this.patient.app,
                            apm:this.patient.apm,
                            nss:this.patient.nss,
                            fn:this.patient.fn,
                            calle:this.patient.calle,
                            no_int:this.patient.no_int,
                            no_ext:this.patient.no_ext,
                            cp:this.patient.cp,
                            colonia:this.patient.colonia,
                            municipio:this.patient.municipio,
                            estado:this.patient.estado,
                            telefono:this.patient.telefono,
                            sexo:this.patient.sexo};
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
                })
            this.patient.nombre = '';
            this.patient.app = '';
            this.patient.apm = '';
            this.patient.nss = '';
            this.patient.fn = '';
            this.patient.calle = '';
            this.patient.no_int = '';
            this.patient.no_ext = '';
            this.patient.cp = '';
            this.patient.colonia = '';
            this.patient.municipio = '';
            this.patient.estado = '';
            this.patient.telefono = '';
            this.patient.sexo = '';
            axios.post('admin/patients', params)
            .then(res=>{
                    this.editarActivo = false;
                    Toast.fire({
                    type: 'success',
                    title: 'Paciente Registrado Correctamente'
                    })
            })
        },
      activeRegisterPatient(){
      this.editarActivo = true;
        },
        mostrarInput(){
      this.showInput = true;
        },
        
        cancelar(){
         this.editarActivo = false;
        },
    
        
     },
      mounted(){
        this.selectPaciente();
        this.selectHorario();
        this.listadoGuardias();
        this.listadoServicios();
    }
    }
</script>
